<h1>Ivan the Terrible's Blog</h1>

<% @posts.each do |post| %>
  <%= render 'shared/post', post: post %>
  <div class='comment'> - <%= link_to 'Show with reponses', post_path(post) %></div>
<% end %>

<br />
<%= paginate @posts %><br />
<%= link_to 'New Post', new_post_path %>
